@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
body {
    /* font-family: 'Arial', sans-serif; */
    margin: 0;
    padding: 0;
    background-image: url(/img/building.jpg);
    background-repeat: no-repeat;
    background-size: 100% 1360px;
    font-family: 'Lacquer', cursive;

}



#about {
    background-color: #f4f4f4;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    color: #333;
    padding: 10px;
    color: white;
}

p {
    line-height: 1.6;
    padding: 10px;
    color: white;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Add more styling as needed */
#footer {
    background-color: #333;
    color: white;
    text-align: center;
    /* padding: 20px 0; */
    position: relative;
    top: 303px;
    /* bottom: 0; */
    /* margin-top: 0px; */
    width: 100%;
    height: 56px;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;

}

.footercontent {
    background-image: none;
}

.footercontent p {
    background-image: none;
}

.footercontent a {
    background-image: none;
    color: #00ffde;
    padding: 1px;
    margin: 0px;
    text-decoration: none;
    font-weight: bold;

}
