.bodyimg img{
    width: 100%;
    height: 3960px;
}
#oggyseasoncontent {
    padding: 20px;
    position: absolute;
    top: 90px;
    width: auto;
    left: 16%;
    right: 16%;
    height: 3900px;
    background-color: white;
}

/* Style for the box container */
#oggyseason {
    display: flex;
    flex-direction: row; /* Make items appear horizontally */
    align-items: center; /* Center items vertically */
}

/* Style for the image */
#oggyseason img {
    width: 100%;
    height: 500px;
}

/* Style for the link */
/* #oggyseason a {
    text-decoration: none;
    color: #007acc;
    font-weight: bold;
    margin-left: 20px; /* Add spacing between image and link */
/* } */

/* Style for the paragraph */
#oggyseason p {
    margin-top: -20px;
    font-size: 20px;
    color: #333;
    top: 600px;
    position: absolute;
    background-color: white;
    padding-right: 18px;
}
#oggyseason h2{
    position: absolute;
    background: white;
    top: 950px;
}

#s1 img {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 1010px;
    left: 300px;
}
#s1 p{
    position: absolute;
    top: 1242px;
    left: 315px;
    font-size: 34px;
    /* font-weight: bold; */
}
#buttons1 {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ac0000;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 1275px;
    left: 440px;
}
#buttons1:hover {
    background-color: #580202;
}

#s2 img{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 1375px;
    left: 300px;
}
#s2 p{
    position: absolute;
    top: 1607px;
    left: 315px;
    font-size: 34px;
    /* font-weight: bold; */
}
#buttons2 {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ac0000;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 1640px;
    left: 440px;
}
#buttons2:hover {
    background-color: #580202;
}

#s3 img{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 1740px;
    left: 300px;
}
#s3 p{
    position: absolute;
    top: 1972px;
    left: 315px;
    font-size: 34px;
    /* font-weight: bold; */
}
#buttons3 {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ac0000;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 2005px;
    left: 440px;
}
#buttons3:hover {
    background-color: #580202;
}

#s4 img{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 2105px;
    left: 300px;
}
#s4 p{
    position: absolute;
    top: 2337px;
    left: 315px;
    font-size: 34px;
    /* font-weight: bold; */
}
#buttons4 {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ac0000;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 2360px;
    left: 440px;
}
#buttons4:hover {
    background-color: #580202;
}

#s5 img{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 2460px;
    left: 300px;
}
#s5 p{
    position: absolute;
    top: 2692px;
    left: 315px;
    font-size: 34px;
    /* font-weight: bold; */
}
#buttons5 {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ac0000;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 2735px;
    left: 440px;
}
#buttons5:hover {
    background-color: #580202;
}

#s6 img{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 2835px;
    left: 300px;
}
#s6 p{
    position: absolute;
    top: 3067px;
    left: 315px;
    font-size: 34px;
    /* font-weight: bold; */
}
#buttons6 {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ac0000;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 3090px;
    left: 440px;
}
#buttons6:hover {
    background-color: #580202;
}

#s7 img{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 3190px;
    left: 300px;
}
#s7 p{
    position: absolute;
    top: 3422px;
    left: 315px;
    font-size: 34px;
    /* font-weight: bold; */
}
#buttons7 {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ac0000;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 3465px;
    left: 440px;
}
#buttons7:hover {
    background-color: #580202;
}

#s8 img{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 3565px;
    left: 300px;
}
#s8 p{
    position: absolute;
    top: 3797px;
    left: 315px;
    font-size: 34px;
    /* font-weight: bold; */
}
#buttons8 {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ac0000;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 3830px;
    left: 440px;
}
#buttons8:hover {
    background-color: #580202;
}



#footer {
    background-color: #333;
    color: white;
    text-align: center;
    /* padding: 20px 0; */
    /* position: absolute; */
    /* bottom: 0; */
    /* margin-top: 3970px; */
    width: 100%;
    height: 56px;
}

/* Style for the footer content */
#footercontent {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
}

#footercontent p{
    color: white;
    text-align: center;
    display: inline-block;
    padding: 0px 0px;
    /* margin: 2px -10px -20px 24px; */
    font-size: 16px;
    background-color: #333;
    margin-left: -1069px;
    margin-top: 19px;
} 
#footercontent p a{
    text-decoration: none;
    color: rgb(135 251 26 / 91%);
    font-weight: bold;
    background-color: #333;

}
#footercontent p a:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}