@media (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;

        background-image: url('/flickytoons.github.io/img/building.jpg');
        background-repeat: no-repeat;
        background-size: 100% 9150px;
    }

    .bodyimg img {
        display: none;
    }

    #navbar {
        background-image: none;
    }

    .navbar-logo img {
        background-image: none;

    }

    .navbar-logo a {
        background-image: none;
    }


    #doraemonseasoncontent {
        /* position: absolute; */
        position: relative;
        top: 30px;
        left: 20px;
        width: 80%;
        height: 9100px;
        background-image: none;
    }



    #doraemonseason h2 {
        position: absolute;
        margin-top: 1160px;
        /* left: -311px; */
        background-image: none;

    }

    #doraemonseason p {
        background-image: none;

    }

    #s1 {
        position: absolute;
        top: 2500px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;


    }

    #s1 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;

    }

    #s1 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;

    }

    #buttons1 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;

    }


    #s2 {
        position: absolute;
        top: 2800px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s2 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s2 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons2 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s3 {
        position: absolute;
        top: 3132px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s3 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s3 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons3 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s4 {
        position: absolute;
        top: 3464px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;

    }

    #s4 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s4 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;

    }

    #buttons4 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;

    }

    #s5 {
        position: absolute;
        top: 3796px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;

    }

    #s5 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s5 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;

    }

    #buttons5 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;

    }

    #s6 {
        position: absolute;
        top: 4128px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s6 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s6 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons6 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s7 {
        position: absolute;
        top: 4460px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s7 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s7 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons7 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s8 {
        position: absolute;
        top: 4792px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s8 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s8 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons8 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s9 {
        position: absolute;
        top: 5124px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s9 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s9 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons9 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s10 {
        position: absolute;
        top: 5456px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s10 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s10 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons10 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s11 {
        position: absolute;
        top: 5788px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s11 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s11 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons11 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s12 {
        position: absolute;
        top: 6120px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s12 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s12 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons12 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s13 {
        position: absolute;
        top: 6452px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s13 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s13 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons13 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s14 {
        position: absolute;
        top: 6784px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s14 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s14 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons14 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s15 {
        position: absolute;
        top: 7116px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s15 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s15 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons15 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s16 {
        position: absolute;
        top: 7448px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s16 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s16 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons16 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s17 {
        position: absolute;
        top: 7780px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s17 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s17 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons17 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s18 {
        position: absolute;
        top: 8112px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s18 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s18 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons18 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s19 {
        position: absolute;
        top: 8444px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s19 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s19 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons19 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s20 {
        position: absolute;
        top: 8776px;
        left: 20px;
        width: 90%;
        /* border: 5px solid black; */
        height: 3.2%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #s20 img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #s20 p {
        position: absolute;
        top: 222px;
        left: auto;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
    }

    #buttons20 {
        padding: 15px 30px;
        background-color: #ac0000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 237px;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
    }


    #footer {
        background-color: #333;
        color: white;
        text-align: center;
        /* padding: 20px 0; */
        position: relative;
        top: 0px;
        /* bottom: 0; */
        /* margin-top: 0px; */
        width: 100%;
        height: 56px;
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .footercontent {
        background-image: none;
    }

    .footercontent p {
        background-image: none;
    }

    .footercontent a {
        background-image: none;
        color: #00ffde;
        padding: 1px;
        margin: 0px;
        text-decoration: none;
        font-weight: bold;

    }
}

@media (min-width: 0px) and (max-width: 390px){

    *{
        background-size: 100% 9175px;
    }

    #doraemonseasoncontent{
        left: 10px;
        height: 9140px;
    }

    #doraemonseason h2 {
        margin-top: 1800px;
    }
    

    #s1 {
        top: 3160px;
    }
    #s1 p{
        font-size: 1.31em;
    }
    #buttons1 {
        padding: 13px 20px;
    }


    #s2 {
        top: 3475px;
    }
    #s2 p{
        font-size: 1.31em;
    }
    #buttons2 {
        padding: 13px 20px;
    }


    #s3 {
        top: 3790px;
    }
    #s3 p{
        font-size: 1.31em;
    }
    #buttons3 {
        padding: 13px 20px;
    }


    #s4 {
        top: 4105px;
    }
    #s4 p{
        font-size: 1.31em;
    }
    #buttons4 {
        padding: 13px 20px;
    }


    #s5 {
        top: 4420px;
    }
    #s5 p{
        font-size: 1.31em;
    }
    #buttons5 {
        padding: 13px 20px;
    }


    #s6 {
        top: 4735px;
    }
    #s6 p{
        font-size: 1.31em;
    }
    #buttons6 {
        padding: 13px 20px;
    }


    #s7 {
        top: 5050px;
    }
    #s7 p{
        font-size: 1.31em;
    }
    #buttons7 {
        padding: 13px 20px;
    }


    #s8 {
        top: 5365px;
    }
    #s8 p{
        font-size: 1.31em;
    }
    #buttons8 {
        padding: 13px 20px;
    }


    #s9 {
        top: 5365px;
    }
    #s9 p{
        font-size: 1.31em;
    }
    #buttons9 {
        padding: 13px 20px;
    }


    #s10 {
        top: 5680px;
    }
    #s10 p{
        font-size: 1.25em;
    }
    #buttons10 {
        padding: 13px 20px;
    }


    #s11 {
        top: 5995px;
    }
    #s11 p{
        font-size: 1.25em;
    }
    #buttons11 {
        padding: 13px 20px;
    }


    #s12 {
        top: 6310px;
    }
    #s12 p{
        font-size: 1.25em;
    }
    #buttons12 {
        padding: 13px 20px;
    }


    #s13 {
        top: 6625px;
    }
    #s13 p{
        font-size: 1.25em;
    }
    #buttons13 {
        padding: 13px 20px;
    }


    #s14 {
        top: 6940px;
    }
    #s14 p{
        font-size: 1.25em;
    }
    #buttons14 {
        padding: 13px 20px;
    }


    #s15 {
        top: 7255px;
    }
    #s15 p{
        font-size: 1.25em;
    }
    #buttons15 {
        padding: 13px 20px;
    }


    #s16 {
        top: 7570px;
    }
    #s16 p{
        font-size: 1.25em;
    }
    #buttons16 {
        padding: 13px 20px;
    }


    #s17 {
        top: 7885px;
    }
    #s17 p{
        font-size: 1.25em;
    }
    #buttons17 {
        padding: 13px 20px;
    }


    #s18 {
        top: 8200px;
    }
    #s18 p{
        font-size: 1.25em;
    }
    #buttons18 {
        padding: 13px 20px;
    }


    #s19 {
        top: 8515px;
    }
    #s19 p{
        font-size: 1.25em;
    }
    #buttons19 {
        padding: 13px 20px;
    }


    #s20 {
        top: 8830px;
    }
    #s20 p{
        font-size: 1.25em;
    }
    #buttons20 {
        padding: 13px 20px;
    }


}
