@media (max-width: 768px) {
    @import url('https://fonts.google.com/specimen/Recursive?query=curs');

    .navbar{
        height: 54px;
        background-image: none;
    }

    .title{
        font-size: 30px;
        font-family: 'Recursive', sans-serif;
        font-weight: bold;
        position: absolute;
        background-image: none;

    
    }
    .navbar-logo{
        background-image: none;

    }

    
    .navbar .navbar-links {
        display: none;
        height: 100px;
        background-image: none;

    }

    .navbar .navbar-toggle {
        display: flex;
        background-image: none;
        

    }

    .navbar.active .navbar-links {
        display: block;
        position: absolute;
        left: -35px;
        top: 17px;
        background-image: none;

    }
    .search-box{
        display: none;
    }
    .navbar.active .search-box{
        display: block;
        position: absolute;
        margin-top: 135px;
        margin-left: 60px;
        display: none;
    }

    #footer {
        background-color: #333;
        color: white;
        text-align: center;
        /* padding: 20px 0; */
        position: relative;
        top: -1171px;
        /* bottom: 0; */
        margin-top: -7px;
        width: 100%;
        height: 56px;
    }
    #footer{
        background-color: #333;
        color: white;
        text-align: center;
        /* padding: 20px 0; */
        position: relative;
        /* top: 37px; */
        /* bottom: 0; */
        /* margin-top: 0px; */
        width: 100%;
        height: 56px;
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    
    #footercontent {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333;
    }
    
    #footercontent p{
        color: white;
        text-align: center;
        display: inline-block;
        padding: 0px 0px;
        font-size: 16px;
        background-color: #333;
        margin-left: -1069px;
        margin-top: 19px;
    } 
    
    
    #footercontent p a{
        text-decoration: none;
        color: rgb(135 251 26 / 91%);
        font-weight: bold;
        background-color: #333;
    
    }
    #footercontent p a:hover{
        color: rgb(0, 0, 0);
        background-color: white;
    }
    .footercontent a{
        background-image: none;
        color: #00ffde;
        padding: 1px;
        margin: 0px;
 
        text-decoration: none;
        font-weight: bold;
    
    }
    
}

@media (min-width: 0px) and (max-width: 390px) {
    @import url('https://fonts.google.com/specimen/Recursive?query=curs');

    .navbar.active .navbar-links {
        left: -75px;
    }

    .dropdown-menu li {
        font-size: 15px;
        margin-bottom: 0px;
    }
    .title{
        font-family: 'Recursive', sans-serif;
    }
}
